# Chapter 2: Variables and Assignment Statements

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [5]:
x = 5.4

In [2]:
y = 7

## 2.1 Calculations in Assignment Statements
* **assignment symbol (`=`)** is not an operator

In [3]:
x + y

12

## 2.2 Variable Names
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents. 
* You can view a value’s type, with the **`type` built-in function**.

### Types 
* A function performs a task when you call it by writing its name, followed by **parentheses, `()`**. 
* The parentheses contain the function’s **argument**—the data that the type function needs to perform its task.

In [4]:
type(x)

int

In [6]:
type(x)

float

## 2.3 Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

* [All operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

#### 2.3.1 Exponentiation (`**`)
* The **exponentiation (&ast;&ast;) operator** raises one value to the power of another.

In [7]:
2**3

8

In [8]:
2**10

1024

In [9]:
4**(1/2)

2.0

In [10]:
4**(1/3)

1.5874010519681994

#### 2.3.2 True Division (`/`) vs. Floor Division (`//`)
* **True division (`/`)** divides a numerator by a denominator and yields a floating-point number.
* **Floor division (`//`)** divides a numerator by a denominator, yielding the `highest integer` that’s not greater than the result.Truncates (discards) the fractional part.

In [11]:
4/2

2.0

In [12]:
5/2

2.5

In [13]:
5//2

2

In [14]:
-5/2

-2.5

In [15]:
-5//2

-3

##### 2.3.3 Exceptions and Tracebacks
* Dividing by zero with `/` or `//` is not allowed and results in an **exception**.
* An exception occurs if you try to use a variable that you have not yet created.

In [16]:
5/0

ZeroDivisionError: division by zero

In [17]:
5//0

ZeroDivisionError: integer division or modulo by zero

#### 2.3.4 Grouping Expressions with Parentheses
* Parentheses group Python expressions, as in algebraic expressions.
* Expressions in parentheses evaluate first

In [18]:
10*(5+2)

70

In [19]:
10*5+2

52

## 2.4 Function `print` and an Intro to Single-and-Double-Quoted Strings
* The built-in **`print` function** displays its argument(s) as a line of text

In [20]:
print("Hello")

Hello

In [21]:
print('Hello')

Hello

In [22]:
print(3)

3

#### 2.4.1 Printing Many Lines of Text with One Statement
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 
* `\n` represents the **newline character** escape sequence, which tells `print` to move the output cursor to the next line.

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [23]:
print("Hello class, 'Hi'")

Hello class, 'Hi'

#### 2.4.3 Printing the Value of an Expression

#### 2.4.5 Including Quotes in Strings 
* A string delimited by single quotes may include double-quote characters, but not single quotes, unless you use the `\'` escape sequence.

## 2.5 Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [24]:
value = input("Insert the first value: ")

Insert the first value: 34

In [25]:
type(value)

str

In [26]:
value2 = input("Inster the second value: ")

Inster the second value: 63

In [27]:
value + value2

'3463'

In [28]:
value1 = int(value)

In [29]:
value1

34

In [30]:
type(value1)

int

In [32]:
value3 = int(input("Insert the value: "))

Insert the value: 44

In [33]:
type(value3)

int

### 2.5.1 Function `input` Always Returns a String

* Python “adds” the _string_ values `'7'` and `'3'`, producing the _string_ `'73'`. 
* Known as **string concatenation**.

### 2.5.2 Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.
* `str` (string)  - used for texts
* `bool` (boolean) - used for truthy values. Useful to perform a filtering operation on a data.
* `list` - used to store a collection of values.
* `dict` (dictionary) - used to store a key-values pairs.

### 2.5.3 Getting an Integer from the User
* If you need an integer, convert the string to an integer using the built-in **`int` function**.

## 2.6 Decision Making: The if Statement and Comparison Operators
* A **condition** is a Boolean expression with the value **`True`** or **`False`**. 

Algebraic operator | Python operator | Sample condition | Meaning 
:---- | :---- | :---- | :----
&gt;  | `>` | `x > y` | `x` is greater than `y`
&lt;  | `<` | `x < y` | `x` is less than `y`
&ge; | `>=` | `x >= y` | `x` is greater than or equal to `y`
&le; | `<=` | `x <= y` | `x` is less than or equal to `y`
= | `==` | `x == y` | `x` is equal to `y`
&ne; | `!=` | `x != y` | `x` is not equal to `y`

* Operators `>`, `<`, `>=` and `<=` have the same precedence. 
* Operators `==` and `!=` have the same precedence, which is lower than `>`, `<`, `>=` and `<=`.

In [34]:
3>=2

True

In [35]:
3<2

False

In [36]:
3!=2

True

### 2.6.1 Making Decisions with the if Statement: Introducing Scripts
* The **`if` statement** uses a condition to decide whether to execute a statement (or a group of statements). 
* We’ll read two integers from the user and compare them using six consecutive `if` statements, one for each comparison operator. 

* Each `if` statement consists of the keyword `if`, the condition to test, and a colon (`:`) followed by an indented body called a **suite**. 
* Each suite must contain one or more statements.

In [37]:
# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

# Test other Conditions
if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

Enter first integer: 2
Enter second integer: 7
2 is not equal to 7
2 is less than or equal to 7
2 is less than 7

In [38]:
# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

# Test other Conditions
if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal than', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

Enter first integer: 15
Enter second integer: 21
15 is not equal to 21
15 is less than 21
15 is less than or equal than 21

#### 2.6.2  Blank Lines
* Blank lines and space characters to make code easier to read. 
* Together, blank lines, space characters and tab characters are known as **white space**. 
* Python ignores most white space.

#### 2.6.3 `Suite Indentation`
* Python requires you to indent the statements in suites. 
* The _Style Guide for Python Code_ recommends four-space indents.

#### 2.6.4 Confusing == and = 
* Using the assignment symbol (`=`) instead of the equality operator (`==`) in an `if` statement’s condition is a common syntax error.

## 2.7 Precedence of the Operators We’ve Presented So Far 
| Operators&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Grouping&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Type
| :-------- | :---- | :----
| `()` | left to right | parentheses
| `**` | right to left | exponentiation 
| `*` &nbsp;&nbsp;&nbsp; `/` &nbsp;&nbsp;&nbsp; `//` &nbsp;&nbsp;&nbsp; `%` | left to right | multiplication, true division, floor division, remainder
| `+` &nbsp;&nbsp;&nbsp; `–`  | left to right | addition, subtraction
| `>` &nbsp;&nbsp;&nbsp; `<=` &nbsp;&nbsp;&nbsp; `<` &nbsp;&nbsp;&nbsp; `>=` | left to right | less than, less than or equal, greater than, greater than or equal
| `==` &nbsp;&nbsp;&nbsp; `!=`   | left to right | equal, not equal

## 2.8 Objects and Dynamic Typing
* `7` (an integer), `4.1` (a floating-point number) and `'dog'` are all objects. 
* Every object has a type and a value.

In [39]:
type(6.4)

float

In [40]:
type('class')

str

### 2.8.1 Variables Refer to Objects
* Assigning an object to a variable **binds** (associates) that variable’s name to the object. 
* Can then use the variable to access the object’s value.

In [41]:
x=7

In [42]:
x+10

17

In [43]:
x

7

In [44]:
x=x+17

In [45]:
x

24

## 2.9 Basic Descriptive Statistics
* In data science, you’ll often use statistics to describe and summarize your data. 
* Here, we introduce several **descriptive statistics**:
    * **minimum**—the smallest value in a collection of values.
    * **maximum**—the largest value in a collection of values.
    * **range**—the range of values from the minimum to the maximum.
    * **count**—the number of values in a collection.
    * **sum**—the total of the values in a collection.

### Problem1: Determining the Minimum of Three Values 
* Determine the minimum of three values manually in a script that prompts for and inputs three values, uses `if` statements to determine the minimum value, then displays it.

#### Indentations in If
* Python relies on `indentation` (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [47]:
number1 = int(input('Enter first integer: '))
# enter number2 and number3
number2 = int(input('Enter the second integer: '))
number3 = int(input('Enter the third integer: '))

# First, assume that number1 contains the smallest value
minimum = number1

#The first if statement then tests number2 < minimum and if this condition is True assigns number2 to minimum.
if number2 < minimum:
    minimum = number2

#The second if statement then tests number3 < minimum, and if this condition is True assigns number3 to minimum.
if number3 < minimum:
    minimum = number3

print('Minimum value is', minimum)

Enter first integer: 25
Enter the second integer: 15
Enter the third integer: 8
Minimum value is 8

### 2.9.1 Functional-Style Programming: Reduction 
* We introduce various _functional-style programming_ capabilities. 
* These enable you to write code that can be more concise, clearer and easier to **debug**. 
* Functions `min` and `max` are examples of a functional-style programming concept called **reduction**&mdash;each reduces a collection of values to a _single_ value. 
* Other reductions you'll see: sum, average, variance and standard deviation.

#### 2.9.2 Determining the Minimum and Maximum with Built-In Functions `min` and `max` 
* Python has many built-in functions for performing common tasks. 
* **`min`** and **`max`** calculate the minimum and maximum, respectively, of a collection of values.

In [48]:
min(14, 23, 41)

14

In [49]:
max(14, 23, 41)

41

## 2.10 Determining the Range of a Collection of Values 
* The _range_ of values is simply the minimum through the maximum value. 

* If you have `100` numbers with a range of 12 through 36, those numbers could be **distributed evenly** over that range. 
* At the opposite extreme, you could have **clumping** with 99 values of 12 and one 36, or one 12 and 99 values of 36.

------
&copy;1992&ndash;2020 by Pearson Education, Inc. All Rights Reserved. This content is based on Chapter 2 of the book [**Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud**](https://amzn.to/2VvdnxE).